AWS_REGION=eu-west-1
AWS_PROFILE=default
HENDDU_S3_BUCKET=henddu-reference-data
HENDDU_COUNTRY_CODE=CIV
HENDDU_DEFAULT_ADMIN_LEVEL=ADM1
HENDDU_DEFAULT_INDICATOR=PM2.5
HENDDU_DEFAULT_TIME_AGGREGATION=daily
HENDDU_ENABLE_POPULATION_EXPOSURE=false
HENDDU_LOG_LEVEL=INFO

